<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>29</integer>
	<key>NewProjectQuestion</key>
	<string>Do you want to use the basic Cocos2d-X Xcode project template?</string>
	<key>NewProjectInfo</key>
	<string>The Xcode project will help you get started but it&apos;s not required if you prefer to setup everything manually or have a different project in which you want to use LevelHelper.</string>
	<key>ZipPath</key>
	<string>https://github.com/vladubogdan/LevelHelper2-Cocos2d-X.v3/archive/develop.zip</string>
	<key>ZipName</key>
	<string>LevelHelper2-Cocos2d-X.v3.zip</string>
</dict>
</plist>
