<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>carBody</key>
		<dict>
			<key>frame</key>
			<string>{{2.000000, 49.000000}, {168.000000, 68.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 6.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 7.000000}, {168.000000, 68.000000}}</string>
			<key>sourceSize</key>
			<string>{180.000000, 95.000000}</string>
			<key>uuid</key>
			<string>9015E100-C10C-4DE0-A4C3-A69E08983DEC</string>
		</dict>
		<key>carTyre</key>
		<dict>
			<key>frame</key>
			<string>{{134.000000, 3.000000}, {43.000000, 43.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 2.000000}, {43.000000, 43.000000}}</string>
			<key>sourceSize</key>
			<string>{47.000000, 46.000000}</string>
			<key>uuid</key>
			<string>F2BF5807-ACFF-44E8-BAA8-94A87CAC4F40</string>
		</dict>
		<key>wood</key>
		<dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {128.000000, 32.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {128.000000, 32.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 32.000000}</string>
			<key>uuid</key>
			<string>479A7CE8-61E5-46D5-9334-503D86C53BFE</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{178.000000, 118.000000}</string>
		<key>textureFileName</key>
		<string>carParts.png</string>
	</dict>
</dict>
</plist>
