<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>3.11.0</string>
	<key>MinimumUpdateableVersion</key>
	<string>1.0.0</string>
	<key>Name</key>
	<string>Cocos2d-X</string>
	<key>RelativePath</key>
	<string>cocos2d</string>
</dict>
</plist>
