<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>4386A083-CAF4-45E7-B7C8-DBB0BAF26BF9</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>carParts.png</string>
			<key>name</key>
			<string>carBody</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>fixtureUUID</key>
				<string>F77E5F1A-6E32-465F-97F1-0CA9D3C2F898</string>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>5</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{180.000000, 95.000000}</string>
			<key>spriteName</key>
			<string>carBody</string>
			<key>spriteUUID</key>
			<string>9015E100-C10C-4DE0-A4C3-A69E08983DEC</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>DE9AC4E6-FF18-4CE1-A8F5-9DDE926F4BD5</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>collideConnected</key>
			<false/>
			<key>enableLimit</key>
			<false/>
			<key>enableMotor</key>
			<false/>
			<key>lowerAngle</key>
			<real>0.0</real>
			<key>maxMotorTorque</key>
			<real>0.0</real>
			<key>motorSpeed</key>
			<real>0.0</real>
			<key>name</key>
			<string>frontWheelJoint</string>
			<key>needsCopyReasignment</key>
			<false/>
			<key>nodeType</key>
			<string>LHRevoluteJoint</string>
			<key>parentUUID</key>
			<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
			<key>relativePosA</key>
			<string>{0.000000, 0.000000}</string>
			<key>spriteAUUID</key>
			<string>E763CC2D-CAFD-4F0E-AC67-8F52FF68020F</string>
			<key>spriteBUUID</key>
			<string>DE9AC4E6-FF18-4CE1-A8F5-9DDE926F4BD5</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>upperAngle</key>
			<real>0.0</real>
			<key>uuid</key>
			<string>121DBE44-8668-48D0-924C-B10261348048</string>
		</dict>
		<dict>
			<key>collideConnected</key>
			<false/>
			<key>enableLimit</key>
			<false/>
			<key>enableMotor</key>
			<false/>
			<key>lowerAngle</key>
			<real>0.0</real>
			<key>maxMotorTorque</key>
			<real>0.0</real>
			<key>motorSpeed</key>
			<real>0.0</real>
			<key>name</key>
			<string>backWheelJoint</string>
			<key>needsCopyReasignment</key>
			<false/>
			<key>nodeType</key>
			<string>LHRevoluteJoint</string>
			<key>parentUUID</key>
			<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
			<key>relativePosA</key>
			<string>{0.000000, 0.000000}</string>
			<key>spriteAUUID</key>
			<string>CB0B4F48-2B23-48E1-800A-AD4F06FD4495</string>
			<key>spriteBUUID</key>
			<string>DE9AC4E6-FF18-4CE1-A8F5-9DDE926F4BD5</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>upperAngle</key>
			<real>0.0</real>
			<key>uuid</key>
			<string>008ED7A0-BC13-47CC-82D6-29E2835D9A1D</string>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.052083, 0.031250}</string>
			<key>imageFileName</key>
			<string>carParts.png</string>
			<key>name</key>
			<string>backWheel</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{47.000000, 46.000000}</string>
			<key>spriteName</key>
			<string>carTyre</string>
			<key>spriteUUID</key>
			<string>F2BF5807-ACFF-44E8-BAA8-94A87CAC4F40</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>CB0B4F48-2B23-48E1-800A-AD4F06FD4495</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.052083, 0.031250}</string>
			<key>imageFileName</key>
			<string>carParts.png</string>
			<key>name</key>
			<string>frontWheel</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{47.000000, 46.000000}</string>
			<key>spriteName</key>
			<string>carTyre</string>
			<key>spriteUUID</key>
			<string>F2BF5807-ACFF-44E8-BAA8-94A87CAC4F40</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>E763CC2D-CAFD-4F0E-AC67-8F52FF68020F</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>BAC13796-F0FE-4B53-A17C-EB1660586DFD</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{180.434769, 95.839417}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>F77E5F1A-6E32-465F-97F1-0CA9D3C2F898</key>
		<array>
			<array>
				<string>{-40.75, -37.5}</string>
				<string>{-37.25, -40}</string>
				<string>{-41.25, -34.5}</string>
			</array>
			<array>
				<string>{10.25, -37}</string>
				<string>{10.25, -35}</string>
				<string>{-36.75, -40.5}</string>
				<string>{5.75, -40.5}</string>
				<string>{8.75, -39}</string>
			</array>
			<array>
				<string>{82.25, 4.5}</string>
				<string>{82.25, 22}</string>
				<string>{17.25, -22.5}</string>
				<string>{42.25, -19.5}</string>
				<string>{52.25, -16.5}</string>
				<string>{63.75, -11}</string>
				<string>{75.25, -2.5}</string>
			</array>
			<array>
				<string>{-83.75, 24}</string>
				<string>{-84.75, 21}</string>
				<string>{-84.75, -7.5}</string>
				<string>{-83.75, -10}</string>
				<string>{-46.75, -22.5}</string>
				<string>{79.25, 26}</string>
				<string>{-80.25, 26.5}</string>
				<string>{-81.75, 26}</string>
			</array>
			<array>
				<string>{81.75, 23.5}</string>
				<string>{79.25, 26}</string>
				<string>{-46.75, -22.5}</string>
				<string>{-37.25, -40}</string>
				<string>{-36.75, -40.5}</string>
				<string>{17.25, -22.5}</string>
				<string>{82.25, 22}</string>
			</array>
			<array>
				<string>{10.25, -35}</string>
				<string>{17.25, -22.5}</string>
				<string>{-36.75, -40.5}</string>
			</array>
			<array>
				<string>{-54.75, -22.5}</string>
				<string>{-46.75, -22.5}</string>
				<string>{-83.75, -10}</string>
			</array>
			<array>
				<string>{-41.25, -34.5}</string>
				<string>{-37.25, -40}</string>
				<string>{-46.75, -22.5}</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>6B10E84C-0C0E-41A3-A81F-9A05D96495D7</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
