<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{0.4377643443, 0.40846997280000003}, {0.44652515409999999, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>BACK USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHBackUINode</string>
			<key>parentUUID</key>
			<string>AC5B1FB1-EC2C-4523-8A31-CBFFE3C911F2</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>D7F50A2E-1E7B-4BE0-B954-3BE51133C492</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>171.11683654785156</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>closed</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{1, 0.11364340037107468}, {0.12940965592861176, 1}}</string>
					<key>generalPosition</key>
					<string>{0.49999998410542806, 0.57500001192092898}</string>
					<key>name</key>
					<string>UntitledBezier</string>
					<key>nodeType</key>
					<string>LHBezier</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>points</key>
					<array>
						<dict>
							<key>ctrl1</key>
							<string>{-416.0563268661499, -54.57335090637207}</string>
							<key>ctrl2</key>
							<string>{-6.4134597664633475e-05, 260.00007319450378}</string>
							<key>hasCtrl1</key>
							<true/>
							<key>hasCtrl2</key>
							<true/>
							<key>mainPt</key>
							<string>{-416.00006413459766, -155.99992680549622}</string>
						</dict>
						<dict>
							<key>ctrl1</key>
							<string>{-6.4134597607790056e-05, 260.00007319450378}</string>
							<key>ctrl2</key>
							<string>{410.51399827003479, -50.104598522186279}</string>
							<key>hasCtrl1</key>
							<true/>
							<key>hasCtrl2</key>
							<true/>
							<key>mainPt</key>
							<string>{415.99993586540234, -155.99992680549622}</string>
						</dict>
					</array>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{832.00018310546875, 312.00015258789062}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>B771BF2A-2EA2-4D49-91E7-0CDE21B23B45</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>closed</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{0, 0.18643209338188171}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.5, 0.90000000000000002}</string>
					<key>name</key>
					<string>UntitledBezier_1</string>
					<key>nodeType</key>
					<string>LHBezier</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>points</key>
					<array>
						<dict>
							<key>ctrl1</key>
							<string>{-413.62656211853027, 99.726581573486328}</string>
							<key>ctrl2</key>
							<string>{-413.62656211853027, 99.726581573486328}</string>
							<key>hasCtrl1</key>
							<true/>
							<key>hasCtrl2</key>
							<false/>
							<key>mainPt</key>
							<string>{-416, 0}</string>
						</dict>
						<dict>
							<key>ctrl1</key>
							<string>{418.33203125, 98.093769073486328}</string>
							<key>ctrl2</key>
							<string>{418.33203125, 98.093769073486328}</string>
							<key>hasCtrl1</key>
							<false/>
							<key>hasCtrl2</key>
							<true/>
							<key>mainPt</key>
							<string>{416, 0}</string>
						</dict>
					</array>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{832, 0}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>EF2CB72D-7607-4AC6-A76A-85744CCD5B21</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>closed</key>
					<true/>
					<key>colorOverlay</key>
					<string>{{0.90408140420913696, 0.99916273355484009}, {0.13692420721054077, 1}}</string>
					<key>generalPosition</key>
					<string>{0.5, 0.23750000596046447}</string>
					<key>name</key>
					<string>UntitledBezier_2</string>
					<key>nodeType</key>
					<string>LHBezier</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>points</key>
					<array>
						<dict>
							<key>ctrl1</key>
							<string>{-174.71705627441406, 166.94826889038086}</string>
							<key>ctrl2</key>
							<string>{-174.71705627441406, 166.94826889038086}</string>
							<key>hasCtrl1</key>
							<false/>
							<key>hasCtrl2</key>
							<false/>
							<key>mainPt</key>
							<string>{-186, 64.000001907348633}</string>
						</dict>
						<dict>
							<key>ctrl1</key>
							<string>{117.27953099812316, 74.109091947516902}</string>
							<key>ctrl2</key>
							<string>{210, 64}</string>
							<key>hasCtrl1</key>
							<false/>
							<key>hasCtrl2</key>
							<true/>
							<key>mainPt</key>
							<string>{114, 64}</string>
						</dict>
						<dict>
							<key>ctrl1</key>
							<string>{210, -64}</string>
							<key>ctrl2</key>
							<string>{113.40339076028704, -72.517579055856004}</string>
							<key>hasCtrl1</key>
							<true/>
							<key>hasCtrl2</key>
							<false/>
							<key>mainPt</key>
							<string>{114, -64}</string>
						</dict>
						<dict>
							<key>ctrl1</key>
							<string>{-74.741767932377911, -52.871063287108683}</string>
							<key>ctrl2</key>
							<string>{-74.741767932377911, -72.871063287108683}</string>
							<key>hasCtrl1</key>
							<false/>
							<key>hasCtrl2</key>
							<false/>
							<key>mainPt</key>
							<string>{-78, -64}</string>
						</dict>
					</array>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{372, 128.00001525878906}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D18B884E-4233-4480-9E76-AC3427BEEE62</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{0.885079026222229, 1}, {0.11245584487915039, 1}}</string>
					<key>generalPosition</key>
					<string>{0.5, 0.51250000596046452}</string>
					<key>name</key>
					<string>TexturedShape+UntitledBezier</string>
					<key>nodeType</key>
					<string>LHTexturedShape</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>points</key>
					<array>
						<dict>
							<key>point</key>
							<string>{-186, 64.000001907348633}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{113.99999999997911, 63.999999999995453}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{136.00000583182555, 61.481484267860651}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{145.5, 58.5}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{153.99999092426151, 54.518513470888138}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{168, 44}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{173.5000179335475, 37.685192346572876}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{177.99999761581421, 30.8148193359375}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{181.49997369199991, 23.500000715255737}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{183.99999904632568, 15.851858139038086}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{185.50001326203346, 7.9814920425415039}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{185.9999937415123, 1.1444091796875e-05}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{185.49999649822712, -7.9814753532409668}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{184.0000044554472, -15.851847171783447}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{181.5, -23.5}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{177.99999135732651, -30.814817428588867}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{173.49998557940125, -37.685191035270691}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{167.99999979883432, -44.000012159347534}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{161.49998937919736, -49.648158431053162}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{153.9999748505652, -54.518526911735535}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{145.49998092278838, -58.500012516975403}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{135.99996710428968, -61.481489345431328}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{114, -64}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{-77.999999999986272, -63.999999999995453}</string>
						</dict>
						<dict>
							<key>point</key>
							<string>{-185.99999999998218, 64.000001907338628}</string>
						</dict>
					</array>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{372, 128.00001525878906}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>triangles</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{113.99999999997911, 63.999999999995453}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{-186, 64.000001907348633}</string>
							<key>uv</key>
							<string>{0, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{-185.99999999998218, 64.000001907338628}</string>
							<key>uv</key>
							<string>{4.7904331190859115e-14, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{113.99999999997911, 63.999999999995453}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{-185.99999999998218, 64.000001907338628}</string>
							<key>uv</key>
							<string>{4.7904331190859115e-14, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{-77.999999999986272, -63.999999999995453}</string>
							<key>uv</key>
							<string>{0.29032257199287415, 5.9604673197100055e-08}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{113.99999999997911, 63.999999999995453}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{-77.999999999986272, -63.999999999995453}</string>
							<key>uv</key>
							<string>{0.29032257199287415, 5.9604673197100055e-08}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{114, -64}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 5.9604637669963267e-08}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{136.00000583182555, 61.481484267860651}</string>
							<key>uv</key>
							<string>{0.86559140682220459, 0.98032402992248535}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{113.99999999997911, 63.999999999995453}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 0.99999994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{114, -64}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 5.9604637669963267e-08}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{136.00000583182555, 61.481484267860651}</string>
							<key>uv</key>
							<string>{0.86559140682220459, 0.98032402992248535}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{114, -64}</string>
							<key>uv</key>
							<string>{0.80645161867141724, 5.9604637669963267e-08}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{135.99996710428968, -61.481489345431328}</string>
							<key>uv</key>
							<string>{0.86559128761291504, 0.019675921648740768}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.5, 58.5}</string>
							<key>uv</key>
							<string>{0.8911290168762207, 0.95703119039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{136.00000583182555, 61.481484267860651}</string>
							<key>uv</key>
							<string>{0.86559140682220459, 0.98032402992248535}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{135.99996710428968, -61.481489345431328}</string>
							<key>uv</key>
							<string>{0.86559128761291504, 0.019675921648740768}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.5, 58.5}</string>
							<key>uv</key>
							<string>{0.8911290168762207, 0.95703119039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{135.99996710428968, -61.481489345431328}</string>
							<key>uv</key>
							<string>{0.86559128761291504, 0.019675921648740768}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.49998092278838, -58.500012516975403}</string>
							<key>uv</key>
							<string>{0.89112895727157593, 0.042968705296516418}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.5, 58.5}</string>
							<key>uv</key>
							<string>{0.8911290168762207, 0.95703119039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.49998092278838, -58.500012516975403}</string>
							<key>uv</key>
							<string>{0.89112895727157593, 0.042968705296516418}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.9999748505652, -54.518526911735535}</string>
							<key>uv</key>
							<string>{0.91397839784622192, 0.074074059724807739}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.99999092426151, 54.518513470888138}</string>
							<key>uv</key>
							<string>{0.9139784574508667, 0.9259258508682251}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{145.5, 58.5}</string>
							<key>uv</key>
							<string>{0.8911290168762207, 0.95703119039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.9999748505652, -54.518526911735535}</string>
							<key>uv</key>
							<string>{0.91397839784622192, 0.074074059724807739}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.99999092426151, 54.518513470888138}</string>
							<key>uv</key>
							<string>{0.9139784574508667, 0.9259258508682251}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.9999748505652, -54.518526911735535}</string>
							<key>uv</key>
							<string>{0.91397839784622192, 0.074074059724807739}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{153.9999748505652, -54.518526911735535}</string>
							<key>uv</key>
							<string>{0.91397839784622192, 0.074074059724807739}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998937919736, -49.648158431053162}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.11212380975484848}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998937919736, -49.648158431053162}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.11212380975484848}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{167.99999979883432, -44.000012159347534}</string>
							<key>uv</key>
							<string>{0.95161288976669312, 0.15624994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{167.99999979883432, -44.000012159347534}</string>
							<key>uv</key>
							<string>{0.95161288976669312, 0.15624994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{173.49998557940125, -37.685191035270691}</string>
							<key>uv</key>
							<string>{0.96639782190322876, 0.20558448135852814}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{173.49998557940125, -37.685191035270691}</string>
							<key>uv</key>
							<string>{0.96639782190322876, 0.20558448135852814}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{177.99999135732651, -30.814817428588867}</string>
							<key>uv</key>
							<string>{0.97849458456039429, 0.25925925374031067}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{177.99999135732651, -30.814817428588867}</string>
							<key>uv</key>
							<string>{0.97849458456039429, 0.25925925374031067}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{181.5, -23.5}</string>
							<key>uv</key>
							<string>{0.98790323734283447, 0.31640627980232239}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{181.5, -23.5}</string>
							<key>uv</key>
							<string>{0.98790323734283447, 0.31640627980232239}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{184.0000044554472, -15.851847171783447}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.37615746259689331}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{184.0000044554472, -15.851847171783447}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.37615746259689331}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.49999649822712, -7.9814753532409668}</string>
							<key>uv</key>
							<string>{0.99865591526031494, 0.43764472007751465}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.49999649822712, -7.9814753532409668}</string>
							<key>uv</key>
							<string>{0.99865591526031494, 0.43764472007751465}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.9999937415123, 1.1444091796875e-05}</string>
							<key>uv</key>
							<string>{1, 0.50000005960464478}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.9999937415123, 1.1444091796875e-05}</string>
							<key>uv</key>
							<string>{1, 0.50000005960464478}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.50001326203346, 7.9814920425415039}</string>
							<key>uv</key>
							<string>{0.99865597486495972, 0.5623553991317749}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{168, 44}</string>
							<key>uv</key>
							<string>{0.95161288976669312, 0.84374994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{161.49998731724918, 49.648141920566559}</string>
							<key>uv</key>
							<string>{0.93413972854614258, 0.88787603378295898}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.50001326203346, 7.9814920425415039}</string>
							<key>uv</key>
							<string>{0.99865597486495972, 0.5623553991317749}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{168, 44}</string>
							<key>uv</key>
							<string>{0.95161288976669312, 0.84374994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{185.50001326203346, 7.9814920425415039}</string>
							<key>uv</key>
							<string>{0.99865597486495972, 0.5623553991317749}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{183.99999904632568, 15.851858139038086}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.62384265661239624}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{173.5000179335475, 37.685192346572876}</string>
							<key>uv</key>
							<string>{0.96639788150787354, 0.79441553354263306}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{168, 44}</string>
							<key>uv</key>
							<string>{0.95161288976669312, 0.84374994039535522}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{183.99999904632568, 15.851858139038086}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.62384265661239624}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{177.99999761581421, 30.8148193359375}</string>
							<key>uv</key>
							<string>{0.97849464416503906, 0.74074077606201172}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{173.5000179335475, 37.685192346572876}</string>
							<key>uv</key>
							<string>{0.96639788150787354, 0.79441553354263306}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{183.99999904632568, 15.851858139038086}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.62384265661239624}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{177.99999761581421, 30.8148193359375}</string>
							<key>uv</key>
							<string>{0.97849464416503906, 0.74074077606201172}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{183.99999904632568, 15.851858139038086}</string>
							<key>uv</key>
							<string>{0.99462366104125977, 0.62384265661239624}</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>color</key>
							<string>{{1, 1}, {1, 1}}</string>
							<key>point</key>
							<string>{181.49997369199991, 23.500000715255737}</string>
							<key>uv</key>
							<string>{0.9879031777381897, 0.68359375}</string>
						</dict>
					</array>
					<key>uuid</key>
					<string>33CFB526-F25A-4827-B71B-10CC468A8492</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>AC5B1FB1-EC2C-4523-8A31-CBFFE3C911F2</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>1C8D485C-BB6D-49C4-98D1-EED2BCA6EDCD</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>FRONT USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>AC5B1FB1-EC2C-4523-8A31-CBFFE3C911F2</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>DDAF4AED-B410-4D34-AFDB-D7BB02C000F2</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>sceneFormat</key>
	<real>1</real>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>AC5B1FB1-EC2C-4523-8A31-CBFFE3C911F2</string>
</dict>
</plist>
