<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.5, 0.5}</string>
			<key>imageFileName</key>
			<string>bgrd.png</string>
			<key>name</key>
			<string>bgrd</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>4176CAA4-071D-46BD-952C-E7F3F07B6820</string>
			<key>relativeImagePath</key>
			<string>DEMO_INIDIVIDUAL_IMAGES_EXAMPLE/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{960, 640}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>339F0F15-1904-4DBC-A950-E387D4B082ED</string>
			<key>zOrder</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>173.38822937011719</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 0.099474191665649414}, {0.1248854398727417, 1}}</string>
					<key>generalPosition</key>
					<string>{0.0094096049575506761, -0.094734714191760452}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_hat</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>B79A6DDC-A999-4529-A65D-7BBB4B57847F</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>18.074184417724609</real>
					<key>scale</key>
					<string>{0.9606095552444458, 2.0874807834625244}</string>
					<key>size</key>
					<string>{122, 75}</string>
					<key>spriteName</key>
					<string>object_hat</string>
					<key>spriteUUID</key>
					<string>A0CC7494-203E-4C79-A14A-ECA50F1FBA3D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>userPropertyName</key>
					<string>MyTestProperty</string>
					<key>uuid</key>
					<string>3ADFA60D-A57A-4A83-9761-D32181A3B148</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.10266031142576443, 0.84920409705373456}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_statue</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>4176CAA4-071D-46BD-952C-E7F3F07B6820</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>33.814723968505859</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{105, 148}</string>
			<key>spriteName</key>
			<string>object_statue</string>
			<key>spriteUUID</key>
			<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>userPropertyName</key>
			<string>MyTestProperty</string>
			<key>uuid</key>
			<string>B79A6DDC-A999-4529-A65D-7BBB4B57847F</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>4176CAA4-071D-46BD-952C-E7F3F07B6820</string>
</dict>
</plist>
