<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>assetFile</key>
			<string>OfficerAsset.lhasset</string>
			<key>assetUUID</key>
			<string>3E9B9DB9-8C3B-40E2-9014-CB8EDB1A3F31</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.68158366433829842, 0.50558838190045208}</string>
			<key>name</key>
			<string>OfficerAsset_1</string>
			<key>nodeType</key>
			<string>LHAsset</string>
			<key>parentUUID</key>
			<string>D4386D3A-0186-48DC-A46D-636AD9EC33E6</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{328.13970947265625, 456.25811767578125}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>4E226BDB-4209-4B19-AAED-34C4D11A4411</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>assetFile</key>
			<string>OfficerAsset.lhasset</string>
			<key>assetUUID</key>
			<string>3E9B9DB9-8C3B-40E2-9014-CB8EDB1A3F31</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.25672098000844318, 0.38133345842361449}</string>
			<key>name</key>
			<string>OfficerAsset</string>
			<key>nodeType</key>
			<string>LHAsset</string>
			<key>parentUUID</key>
			<string>D4386D3A-0186-48DC-A46D-636AD9EC33E6</string>
			<key>rotation</key>
			<real>41.489490509033203</real>
			<key>scale</key>
			<string>{0.6040503978729248, 0.62331479787826538}</string>
			<key>size</key>
			<string>{328.13970947265625, 456.25811767578125}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>9A180585-F3F1-468F-BCDC-C05884D58552</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>D4386D3A-0186-48DC-A46D-636AD9EC33E6</string>
</dict>
</plist>
