<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>canBeCut</key>
			<true/>
			<key>collideConnected</key>
			<false/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>fadeOutDelay</key>
			<real>4</real>
			<key>length</key>
			<real>308.87982177734375</real>
			<key>name</key>
			<string>UntitledRopeJoint</string>
			<key>nodeType</key>
			<string>LHRopeJoint</string>
			<key>parentUUID</key>
			<string>DFDB5F38-3E96-4E2A-8440-5E165BAE9779</string>
			<key>relativeImagePath</key>
			<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
			<key>relativePosA</key>
			<string>{11.01499342918396, -25.445999383926392}</string>
			<key>relativePosB</key>
			<string>{-16.6332848072052, 6.4664077758789062}</string>
			<key>removeAfterCut</key>
			<true/>
			<key>segments</key>
			<real>22</real>
			<key>shouldDraw</key>
			<true/>
			<key>spriteAUUID</key>
			<string>EF55C3E9-1B24-40E6-B29E-9C66FA8EF64E</string>
			<key>spriteBUUID</key>
			<string>95D7C5E4-8FAE-49A2-9EB0-E6F2D2D20988</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>thickness</key>
			<real>10</real>
			<key>useTexture</key>
			<true/>
			<key>uuid</key>
			<string>1083DE67-B4CC-4BB5-8471-D0C7F841426E</string>
			<key>uvRepetitions</key>
			<string>{1, 22}</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.47358318511590675, 0.27486660672293511}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>candy</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>DFDB5F38-3E96-4E2A-8440-5E165BAE9779</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{65, 61}</string>
			<key>spriteName</key>
			<string>candy</string>
			<key>spriteUUID</key>
			<string>554683CF-2615-41EF-956A-933D6F02D016</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>95D7C5E4-8FAE-49A2-9EB0-E6F2D2D20988</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.63159750321744168, 0.36398591353208759}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>thumb_tack</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>DFDB5F38-3E96-4E2A-8440-5E165BAE9779</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{62, 72}</string>
			<key>spriteName</key>
			<string>thumb_tack</string>
			<key>spriteUUID</key>
			<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>EF55C3E9-1B24-40E6-B29E-9C66FA8EF64E</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.4663102208306858, 0.51305420449643857}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_statue</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>collisionCategories</key>
					<array>
						<string>DEFAULT</string>
						<string>BlueRobot</string>
						<string>GreenRobot</string>
						<string>PinkRobot</string>
						<string>Category_05</string>
						<string>Category_06</string>
						<string>Category_07</string>
						<string>Category_08</string>
						<string>Category_09</string>
						<string>Category_10</string>
						<string>Category_11</string>
						<string>Category_12</string>
						<string>Category_13</string>
						<string>Category_14</string>
						<string>Category_15</string>
						<string>Category_16</string>
					</array>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>ignoreCategories</key>
					<array/>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>DFDB5F38-3E96-4E2A-8440-5E165BAE9779</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>310.32199096679688</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{105, 148}</string>
			<key>spriteName</key>
			<string>object_statue</string>
			<key>spriteUUID</key>
			<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>F6A4818F-EB45-41B2-80CB-C74D375F41E2</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1024x768</key>
		<string>{{0.032003570348024368, 0.051032710820436478}, {0.93531328439712524, 0.90403568744659424}}</string>
		<key>1136x640</key>
		<string>{{0.032003570348024368, 0.051032710820436478}, {0.93531328439712524, 0.90403568744659424}}</string>
		<key>2048x1536</key>
		<string>{{0.032003570348024368, 0.051032710820436478}, {0.93531328439712524, 0.90403568744659424}}</string>
		<key>960x640</key>
		<string>{{0.032003570348024368, 0.051032710820436478}, {0.93531328439712524, 0.90403568744659424}}</string>
		<key>general</key>
		<string>{{0.032003570348024368, 0.051032710820436478}, {0.93531328439712524, 0.90403568744659424}}</string>
	</dict>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>DFDB5F38-3E96-4E2A-8440-5E165BAE9779</string>
</dict>
</plist>
