<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.23410098100110613, 0.84868085798642878}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_statue_1</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{105, 148}</string>
			<key>spriteName</key>
			<string>object_statue</string>
			<key>spriteUUID</key>
			<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>13E3546B-B012-4D37-99B4-ADEB2BE5359F</string>
			<key>zOrder</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>posAnim</string>
					<key>properties</key>
					<dict>
						<key>Children Positions</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>91E390E5-6B37-48B2-A864-E41D9A33F4AC</key>
										<string>{22.403909554705024, 236.61172384303063}</string>
										<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
										<string>{19.851566393859684, 118.55937932617962}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>positions</key>
									<dict>
										<key>91E390E5-6B37-48B2-A864-E41D9A33F4AC</key>
										<string>{75.221097817644477, -60.044526156969368}</string>
										<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
										<string>{-231.08593360614032, 3.7039105761796236}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>positions</key>
									<dict>
										<key>91E390E5-6B37-48B2-A864-E41D9A33F4AC</key>
										<string>{22.403909554705024, 236.61172384303063}</string>
										<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
										<string>{19.851566393859684, 118.55937932617962}</string>
									</dict>
								</dict>
							</array>
							<key>subproperties</key>
							<dict>
								<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>positions</key>
											<dict>
												<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
												<string>{19.851566393859684, 118.55937932617962}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>19</integer>
											<key>positions</key>
											<dict>
												<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
												<string>{-778.79131690692157, 112.32015298493207}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>29</integer>
											<key>positions</key>
											<dict>
												<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
												<string>{381.60626610089093, 88.720553146675229}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>39</integer>
											<key>positions</key>
											<dict>
												<key>F15EDBFC-1B7F-4AF1-801C-D753A120575E</key>
												<string>{19.851566393859684, 118.55937932617962}</string>
											</dict>
										</dict>
									</array>
									<key>locked</key>
									<false/>
									<key>type</key>
									<string>LHPositionProperty</string>
								</dict>
							</dict>
							<key>type</key>
							<string>LHChildrenPositionsProperty</string>
						</dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</key>
										<string>{82.707021337002516, 109.56640374008566}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>positions</key>
									<dict>
										<key>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</key>
										<string>{856.66875229403377, 99.700778358615935}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>positions</key>
									<dict>
										<key>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</key>
										<string>{82.707021337002516, 109.56640374008566}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>40</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.47971311211585999, 0.57195836305618286}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.020678714993603839, 0.18524903019715566}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_hat</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{122, 75}</string>
					<key>spriteName</key>
					<string>object_hat</string>
					<key>spriteUUID</key>
					<string>A0CC7494-203E-4C79-A14A-ECA50F1FBA3D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>F15EDBFC-1B7F-4AF1-801C-D753A120575E</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.023337405786151066, 0.36970581850473538}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_canteen</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{60, 78}</string>
					<key>spriteName</key>
					<string>object_canteen</string>
					<key>spriteUUID</key>
					<string>C3F38C64-C80F-4AC6-BA50-91147927289B</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>91E390E5-6B37-48B2-A864-E41D9A33F4AC</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.086153147226044294, 0.17119750584388385}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_banana</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{92, 64}</string>
			<key>spriteName</key>
			<string>object_banana</string>
			<key>spriteUUID</key>
			<string>FAE55543-0B9F-4B04-A86D-BAB025D0B01C</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>A6F3EF5F-B25B-4D1B-B4F0-F8665B396AB5</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>testRotation</string>
					<key>properties</key>
					<dict>
						<key>Children Rotations</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>rotations</key>
									<dict/>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>rotations</key>
									<dict>
										<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
										<real>178.69046020507812</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>rotations</key>
									<dict>
										<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
										<real>178.69046020507812</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>rotations</key>
									<dict/>
								</dict>
							</array>
							<key>subproperties</key>
							<dict>
								<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>rotations</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>9</integer>
											<key>rotations</key>
											<dict>
												<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
												<real>285.96041870117188</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>19</integer>
											<key>rotations</key>
											<dict>
												<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
												<real>235.9326171875</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>39</integer>
											<key>rotations</key>
											<dict>
												<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
												<real>54.214527130126953</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>59</integer>
											<key>rotations</key>
											<dict>
												<key>D7F59AAC-5198-4738-9968-F9BB2A534025</key>
												<real>234.94903564453125</real>
											</dict>
										</dict>
									</array>
									<key>locked</key>
									<false/>
									<key>type</key>
									<string>LHRotationProperty</string>
								</dict>
							</dict>
							<key>type</key>
							<string>LHChildrenRotationsProperty</string>
						</dict>
						<key>Rotation</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>rotations</key>
									<dict/>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>rotations</key>
									<dict>
										<key>6AAFE9D1-51CB-4603-9CAB-5187006FDD30</key>
										<real>157.2406005859375</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>rotations</key>
									<dict>
										<key>6AAFE9D1-51CB-4603-9CAB-5187006FDD30</key>
										<real>304.639892578125</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>rotations</key>
									<dict/>
								</dict>
							</array>
							<key>type</key>
							<string>LHRotationProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.11449381758575328, -0.15856811867124634}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_pineapple</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>6AAFE9D1-51CB-4603-9CAB-5187006FDD30</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{61, 134}</string>
					<key>spriteName</key>
					<string>object_pineapple</string>
					<key>spriteUUID</key>
					<string>072F5BA2-FB8C-4349-BB62-DFB06F1A6E47</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D7F59AAC-5198-4738-9968-F9BB2A534025</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.51867838692754353, 0.66386108879232775}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_backpack</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{90, 106}</string>
			<key>spriteName</key>
			<string>object_backpack</string>
			<key>spriteUUID</key>
			<string>79AD2F07-C0BE-4B5A-BB3F-9FAC5F80A471</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>6AAFE9D1-51CB-4603-9CAB-5187006FDD30</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>MyAnimation</string>
					<key>properties</key>
					<dict>
						<key>Children Scales</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>scales</key>
									<dict>
										<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>scales</key>
									<dict>
										<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
										<string>{0.60000002384185791, 1.7999999523162842}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>scales</key>
									<dict>
										<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
							</array>
							<key>subproperties</key>
							<dict>
								<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>scales</key>
											<dict>
												<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
												<string>{1, 1}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>14</integer>
											<key>scales</key>
											<dict>
												<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
												<string>{0.30000001192092896, 1}</string>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>29</integer>
											<key>scales</key>
											<dict>
												<key>74347663-166E-48EC-87B5-683E5D0FBD26</key>
												<string>{1, 1}</string>
											</dict>
										</dict>
									</array>
									<key>locked</key>
									<false/>
									<key>type</key>
									<string>LHScaleProperty</string>
								</dict>
							</dict>
							<key>type</key>
							<string>LHChildrenScalesProperty</string>
						</dict>
						<key>Scale</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>scales</key>
									<dict>
										<key>0681CC49-63BB-443C-B5E5-634439974940</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>scales</key>
									<dict>
										<key>0681CC49-63BB-443C-B5E5-634439974940</key>
										<string>{2, 2}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>scales</key>
									<dict>
										<key>0681CC49-63BB-443C-B5E5-634439974940</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHScaleProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{-0.12347164441724275, -0.060866268344588456}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_bananabunch</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>0681CC49-63BB-443C-B5E5-634439974940</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{88, 65}</string>
					<key>spriteName</key>
					<string>object_bananabunch</string>
					<key>spriteUUID</key>
					<string>60F9EAC9-FDD1-4EAB-811D-7A0EF562B591</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>74347663-166E-48EC-87B5-683E5D0FBD26</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.8243059794108073, 0.42404022216796877}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_statue</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{105, 148}</string>
			<key>spriteName</key>
			<string>object_statue</string>
			<key>spriteUUID</key>
			<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>0681CC49-63BB-443C-B5E5-634439974940</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>opacityAnimTest</string>
					<key>properties</key>
					<dict>
						<key>Children Opacities</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>opacities</key>
									<dict>
										<key>39235440-3F7E-4FE1-971D-58079F6C0961</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>opacities</key>
									<dict/>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>opacities</key>
									<dict>
										<key>39235440-3F7E-4FE1-971D-58079F6C0961</key>
										<real>255</real>
									</dict>
								</dict>
							</array>
							<key>subproperties</key>
							<dict>
								<key>39235440-3F7E-4FE1-971D-58079F6C0961</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>opacities</key>
											<dict>
												<key>39235440-3F7E-4FE1-971D-58079F6C0961</key>
												<real>255</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>9</integer>
											<key>opacities</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>49</integer>
											<key>opacities</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>59</integer>
											<key>opacities</key>
											<dict>
												<key>39235440-3F7E-4FE1-971D-58079F6C0961</key>
												<real>255</real>
											</dict>
										</dict>
									</array>
									<key>locked</key>
									<false/>
									<key>type</key>
									<string>LHOpacityProperty</string>
								</dict>
							</dict>
							<key>type</key>
							<string>LHChildrenOpacitiesProperty</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>opacities</key>
									<dict>
										<key>A056AC1F-182D-482C-9557-B7DB807C7A2D</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>opacities</key>
									<dict>
										<key>A056AC1F-182D-482C-9557-B7DB807C7A2D</key>
										<real>103.57865905761719</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>opacities</key>
									<dict>
										<key>A056AC1F-182D-482C-9557-B7DB807C7A2D</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>opacities</key>
									<dict>
										<key>A056AC1F-182D-482C-9557-B7DB807C7A2D</key>
										<real>103.57865905761719</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>opacities</key>
									<dict>
										<key>A056AC1F-182D-482C-9557-B7DB807C7A2D</key>
										<real>255</real>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHOpacityProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{-0.026930230008050178, 0.054562567253015004}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_canteen_1</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A056AC1F-182D-482C-9557-B7DB807C7A2D</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{60, 78}</string>
					<key>spriteName</key>
					<string>object_canteen</string>
					<key>spriteUUID</key>
					<string>C3F38C64-C80F-4AC6-BA50-91147927289B</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>39235440-3F7E-4FE1-971D-58079F6C0961</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.18907410647633208, 0.807462285358443}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_bananabunch_1</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{88, 65}</string>
			<key>spriteName</key>
			<string>object_bananabunch</string>
			<key>spriteUUID</key>
			<string>60F9EAC9-FDD1-4EAB-811D-7A0EF562B591</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>A056AC1F-182D-482C-9557-B7DB807C7A2D</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>spriteFrameAnim</string>
					<key>properties</key>
					<dict>
						<key>Sprite Frame</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>spriteSheetName</key>
									<string>object_backpack</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>9</integer>
									<key>spriteSheetName</key>
									<string>object_statue</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>spriteSheetName</key>
									<string>object_pineapple</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>spriteSheetName</key>
									<string>object_canteen</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>39</integer>
									<key>spriteSheetName</key>
									<string>object_banana</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>49</integer>
									<key>spriteSheetName</key>
									<string>object_hat</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>spriteSheetName</key>
									<string>object_bananabunch</string>
								</dict>
							</array>
							<key>type</key>
							<string>LHSpriteFrameProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.87528352552156219, 0.79353097043235721}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_backpack_1</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{90, 106}</string>
			<key>spriteName</key>
			<string>object_backpack</string>
			<key>spriteUUID</key>
			<string>79AD2F07-C0BE-4B5A-BB3F-9FAC5F80A471</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>35B4B40C-7806-4CB5-A0F9-0A82C79417B4</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>D4D1DDE0-DCAA-4F32-AF07-D3589C8FE7A8</string>
</dict>
</plist>
