<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.22952554910346709, 0.36201904312765693}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>blueRobot</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>B3544560-3513-4745-BDB8-DC8AB51E7DE2</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{130, 150}</string>
			<key>spriteName</key>
			<string>blueRobot</string>
			<key>spriteUUID</key>
			<string>2F3A5F3F-DA9C-471B-930F-35601F2AE875</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>userPropertyInfo</key>
			<dict>
				<key>alive</key>
				<true/>
				<key>life</key>
				<integer>25</integer>
				<key>otherRobot</key>
				<string>79A7D38B-0E19-4178-9A8D-2DAC83323773</string>
				<key>stringMember</key>
				<string>BlueRobotUserPropString</string>
			</dict>
			<key>userPropertyName</key>
			<string>DemoCustomClass</string>
			<key>uuid</key>
			<string>8764ADBF-5C66-4B23-B3BC-D28DDB4DB2DF</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.57656982745878238, 0.34859130846161862}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>pinkRobot</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>B3544560-3513-4745-BDB8-DC8AB51E7DE2</string>
			<key>relativeImagePath</key>
			<string>DEMO_PUBLISH_FOLDER/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{130, 150}</string>
			<key>spriteName</key>
			<string>pinkRobot</string>
			<key>spriteUUID</key>
			<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>79A7D38B-0E19-4178-9A8D-2DAC83323773</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>B3544560-3513-4745-BDB8-DC8AB51E7DE2</string>
</dict>
</plist>
