<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 1}, {1, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>BACK USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHBackUINode</string>
			<key>parentUUID</key>
			<string>E53DE3DE-3F0F-4BA9-B882-E01A6546241B</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>B14E858F-7A7A-4B03-BDA8-ED3196B9A0FE</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<true/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>cuttableRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 8.0379428863525391}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934936523, -2.5323448181152344}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>9FF9A4E3-ADF5-4B6B-86D3-79702F7A7705</string>
					<key>spriteBUUID</key>
					<string>1553E50B-6E77-46BD-B4D0-ED9010A5C27D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>16.399999618530273</real>
					<key>useTexture</key>
					<true/>
					<key>uuid</key>
					<string>FDD6C84F-BC00-46A1-8F41-B75CCA6E5A24</string>
					<key>uvRepetitions</key>
					<string>{1, 16}</string>
					<key>zOrder</key>
					<integer>-2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<false/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{0.28216943144798279, 1}, {0.28923967480659485, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>noTextureRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 10.218209266662598}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934993367, -6.8928778469562531}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>401ABE4C-30EC-4B4C-808A-F7FBB1CD3E38</string>
					<key>spriteBUUID</key>
					<string>66C10301-9015-4842-9A4B-BCE9BEEE7AA6</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>16.5</real>
					<key>useTexture</key>
					<false/>
					<key>uuid</key>
					<string>D3B79877-CC48-4DF1-A6DD-7976117882E1</string>
					<key>uvRepetitions</key>
					<string>{1, 20}</string>
					<key>zOrder</key>
					<integer>-2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.1227150771629418, 0.28282984321615345}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>2E042A0A-AEC3-4BA5-8B72-BD208CCC8834</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.085865678482832899, 0.40657512917734839}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>A92AB568-4525-45D7-A335-A0C393F9651F</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.8133853484935416, 0.24638935456859609}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>9FF9A4E3-ADF5-4B6B-86D3-79702F7A7705</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.88552200367759382, 0.3481771462113058}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>1553E50B-6E77-46BD-B4D0-ED9010A5C27D</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.44508261108272834, 0.33108475034643209}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>thumb_tack_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{62, 72}</string>
					<key>spriteName</key>
					<string>thumb_tack</string>
					<key>spriteUUID</key>
					<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>401ABE4C-30EC-4B4C-808A-F7FBB1CD3E38</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.51785233713304757, 0.26234034224873193}</string>
					<key>imageFileName</key>
					<string>ropeAssets.png</string>
					<key>name</key>
					<string>candy_2</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>collisionCategories</key>
							<array>
								<string>DEFAULT</string>
								<string>BlueRobot</string>
								<string>GreenRobot</string>
								<string>PinkRobot</string>
								<string>Category_05</string>
								<string>Category_06</string>
								<string>Category_07</string>
								<string>Category_08</string>
								<string>Category_09</string>
								<string>Category_10</string>
								<string>Category_11</string>
								<string>Category_12</string>
								<string>Category_13</string>
								<string>Category_14</string>
								<string>Category_15</string>
								<string>Category_16</string>
							</array>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>ignoreCategories</key>
							<array/>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>1</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>DEMO_PUBLISH_FOLDER/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{65, 61}</string>
					<key>spriteName</key>
					<string>candy</string>
					<key>spriteUUID</key>
					<string>554683CF-2615-41EF-956A-933D6F02D016</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>66C10301-9015-4842-9A4B-BCE9BEEE7AA6</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>canBeCut</key>
					<false/>
					<key>collideConnected</key>
					<false/>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>fadeOutDelay</key>
					<real>3</real>
					<key>length</key>
					<real>292.4228515625</real>
					<key>name</key>
					<string>biggerZRopeJoint</string>
					<key>nodeType</key>
					<string>LHRopeJoint</string>
					<key>parentUUID</key>
					<string>_GAME_WORLD_NODE_UUID_</string>
					<key>relativeImagePath</key>
					<string>/DEMO_INDIVIDUAL_IMAGES_EXAMPLE/cartoonRope.png</string>
					<key>relativePosA</key>
					<string>{-0.38191986083984375, 10.218209266662598}</string>
					<key>relativePosB</key>
					<string>{-0.055728673934936523, -2.5323448181152344}</string>
					<key>removeAfterCut</key>
					<true/>
					<key>segments</key>
					<real>24</real>
					<key>shouldDraw</key>
					<true/>
					<key>spriteAUUID</key>
					<string>2E042A0A-AEC3-4BA5-8B72-BD208CCC8834</string>
					<key>spriteBUUID</key>
					<string>A92AB568-4525-45D7-A335-A0C393F9651F</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>thickness</key>
					<real>6.4000000953674316</real>
					<key>useTexture</key>
					<true/>
					<key>uuid</key>
					<string>9A34B0B6-0862-483A-922D-2FE422391A48</string>
					<key>uvRepetitions</key>
					<string>{1, 20}</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>GAME WORLD</string>
			<key>nodeType</key>
			<string>LHGameWorldNode</string>
			<key>parentUUID</key>
			<string>E53DE3DE-3F0F-4BA9-B882-E01A6546241B</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>B92C492E-A038-452B-B369-C0700A1E37D5</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0, 0}</string>
			<key>name</key>
			<string>FRONT USER INTERFACE</string>
			<key>nodeType</key>
			<string>LHUINode</string>
			<key>parentUUID</key>
			<string>E53DE3DE-3F0F-4BA9-B882-E01A6546241B</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>D8D2B363-0856-44F6-BCA3-90C12AD1A1D8</string>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string>hd</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>ipadhd</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1024x768</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>1136x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>2048x1536</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>sceneFormat</key>
	<real>1</real>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>E53DE3DE-3F0F-4BA9-B882-E01A6546241B</string>
</dict>
</plist>
